* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #0f2027;
  color: #fff;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  height: 100vh;
}


nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  padding: 15px 40px;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.logo { color: #00adb5; }

nav ul {
  list-style: none;
  display: flex;
}

nav ul li { margin-left: 15px; }

nav ul li a {
  color: white;
  text-decoration: none;
  padding: 8px 16px;
  border: 2px solid transparent; 
  border-radius: 8px;
  transition: all 0.3s ease;
}

nav ul li a:hover {
  color: #222;               
  background: white;        
  border-color: #ffd369;      
  transform: translateY(-3px); 
}

.menu-toggle {
  display: none;
  font-size: 24px;
  color: white;
  cursor: pointer;
}


.section {
  width: 100%;
  height: 100vh; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  text-align: center;
  position: relative;
  padding: 40px;
}

.hero h1 span { 
  color: #ffd369; 
  text-shadow: 0 0 12px rgba(255,211,105,0.6); 
}

.hero .btn {
  margin-top: 25px;
  padding: 12px 30px;
  background: #ffd369;
  color: #222;
  text-decoration: none;
  border-radius: 30px;
}

.hero .btn:hover { background: #ffc857; }

#techCanvas {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}


#about h2 {
  font-family: 'Montserrat', sans-serif;  
  font-size: 2.2rem;                        
  color: #00adb5;                           
  text-align: center;
  padding: 15px 50px;                       
  border: 3px solid #00adb5;              
  border-radius: 12px;                      
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
  background: rgba(0, 0, 0, 0.2);          
  display: inline-block;                    
  margin: 100px auto 20px auto;            
  transition: color 0.3s ease, border-color 0.3s ease; 
}

#about h2:hover {
  color: #ffd369;       
  border-color: #ffd369; 
}




.profile-container img {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #00adb5;
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

#about p {
  max-width: 700px;
  margin: 15px auto;
  line-height: 1.8;
  text-align: justify;
}


#projects h2 {
  margin-top: -60px; 
  margin-bottom: 50px; 
  font-family: 'Montserrat', sans-serif;
  font-size: 2.2rem;          
  color: #00adb5;              
  text-align: center;
  padding: 15px 50px;          
  border: 3px solid #00adb5;   
  border-radius: 8px;           
  display: inline-block;        
  box-shadow: 0 5px 15px rgba(0,0,0,0.3); 
  transition: all 0.3s ease;
}

#projects h2:hover {
  color: #ffd369;
  border-color: #ffd369;
}


.projects {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background: white ;
  padding: 20px;
  width: 250px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  transition: transform 0.3s ease;
}

.card p {
  color: #555; 
  font-size: 1rem;
  text-align: center;
  line-height: 1.5;
}
.card h3 {
  color: #00adb5;            
  font-size: 1.3rem;         
  font-weight: 600;         
  margin-bottom: 12px;       
  text-align: center;        
  text-shadow: 0 1px 3px rgba(0,0,0,0.3); 
  transition: color 0.3s ease, transform 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
}


#contact h2 {
  margin-bottom: 60px; 
  font-family: 'Montserrat', sans-serif;
  font-size: 2.2rem;           
  color: #00adb5;              
  text-align: center;
  padding: 15px 50px;          
  border: 3px solid #00adb5;   
  border-radius: 8px;         
  display: inline-block;        
   margin: 100px auto 20px auto;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3); 
  transition: color 0.3s ease, border-color 0.3s ease; 
}


#contact h2:hover {
  color: #ffd369;
  border-color: #ffd369;       
}


form {
  max-width: 400px;
  margin: auto;
}

form input,
form textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 6px;
  border: none;
}

form button {
  width: 100%;
  padding: 10px;
  background: #00adb5;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 6px;
}

form button:hover { background: #028a90; }

footer { 
  background: #111; 
  color: white; 
  text-align: center; 
  padding: 15px; 
}


@media (max-width: 768px){
  nav ul { 
    display: none; 
    flex-direction: column; 
    background: #111; 
    position: absolute; 
    top: 60px; 
    right: 0; 
    width: 200px;
  }
  nav ul.show { display: flex; }
  .menu-toggle { display: block; }
}
